// header

.header {
	padding: 2rem 0;
	transition: all 0.3s ease;
	&.header-fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 9999;
	}

	/*web-view*/
	.web-view {
		.header-icon {
			span {
				font-size: 23px;
				padding: 1rem .5rem;
				color: #fff;
			}
		}
		.header-content {
			.nav-item {
				.nav-link {
					font-family: $font-family-poppins;
					font-size: 14px;
					font-weight: 500;
					text-transform: uppercase;
					padding: .5rem 1.5rem;
					color: #fff;
				}
			}
			.logo {
				.logo-light {
					display: block;
				}
				.logo-black {
					display: none;
				}
			}
		}
	}

	/*mobile-view*/
	.mobile-view {
		.mobile-search {
			margin-bottom: 15px;
			input {
				border: 0;
				border-bottom: 2px solid #e4e6eb;
			    transition: all 0.3s ease;
			    &:hover {
			    	border-bottom: 2px solid #222;
			    }
			}
			span {
				font-size: 20px;
			}
		}
		.mobile-header {
			#open-menu {
				font-size: 20px;
				color: #fff;
			}
			span {
				font-size: 20px;
				color: #fff;
			}
		}
		.mobile-menu {
			position: absolute;
			width: 250px;
			top: 0;
			left: 0;
			height: 100vh;
			background: #fff;
			z-index: 999999;
			padding: 3rem 1.5rem;
			transform: translateX(-100%);
			transition: transform 0.3s ease-in-out;
			&.show {
				transform: translateX(0);
			}
			#close-menu {
				position: absolute;
				top: 0;
				right: 0;
				padding: .5rem;
				font-size: 20px;
			}
			.nav-item {
				.nav-link {
					color: #222;
				    font-size: 15px;
				    font-weight: 500;
				    padding: 0.5rem 0;
				    border-bottom: 1px solid #e4e4e4;
				}
			}
		}
	}
}

/*Responsive*/

@media (min-width: 768px) {
	.header {
		&:hover {
			background: #fff;
			.header-icon {
				span {
					color: #000;
				}
			}
			.header-content {
				.nav-item {
					.nav-link {
						color: #000;
					}
				}
				.logo {
					.logo-light {
						display: none;
					}
					.logo-black {
						display: block;
					}
				}
			}
		}
	}
	.web-view {
		display: block;
	}
	.mobile-view {
		display: none;
	}
}

@media (max-width: 768px) {
	.web-view {
		display: none;
	}
	.mobile-view {
		display: block;
	}
}