*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family-poppins;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    background: #fff;
}

img {
    max-width: 100%;
}

:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

.title {
    font-family: $font-family-amaticsc;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.sub-title {
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    padding: 15px 20px;
    line-height: 24px;
    &::before {
        border-bottom: 2px solid #ffd200;
        bottom: 0;
        content: "";
        left: 20px;
        margin: 0 auto;
        position: absolute;
        right: auto;
        width: 50px;
    }
}

.container-wrapper {
    margin: 0 auto;
}

@media (min-width: 1192px) {
    .container-wrapper {
        padding-left: 75px;
        padding-right: 75px;
    }
}

@media (max-width: 1192px) {
    .container-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}

main {
    min-height: 100vh;
}
.page-content {
    padding: 2.5rem 0;
}
.rounded-10 {
    border-radius: 10px;
}
.rounded-20 {
    border-radius: 20px;
}
.rounded-30 {
    border-radius: 30px;
}
.rounded-40 {
    border-radius: 40px;
}
.rounded-50 {
    border-radius: 50px;
}

.table td {
    vertical-align: middle;
}

.required-star {
    position: relative;
    &::after {
        content: "*";
        position: absolute;
        font-size: 30px;
        color: red;
        padding-left: 5px;
        top: 0;
        left: 0;
        margin-top: -10px;
    }
}

.font-amaticsc {
    font-family: $font-family-amaticsc;
}

.products-modal {
    input {
        border: 1px solid #222;
        padding: 0.5rem;
        max-width: 50px;
        text-align: center;
    }
}

.cart-modal {
    .modal {
        padding: 0!important;
        .modal-dialog {
            max-width: 100%;
            margin: 0;
            .modal-content {
                height: 100%;
                min-height: 100vh;
                border: 0;
                border-radius: 0;
                padding: 3rem;
                .modal-body {
                    width: 80%;
                    margin: 0 auto;
                    form {
                        width: 80%;
                        margin: 0 auto;
                        border-bottom: 2px solid #e4e6eb;
                        transition: all 0.3s ease;
                        button {
                            font-size: 20px;
                            padding: 10px 10px;
                            border: 0;
                            background: transparent;
                        }
                        input {
                            width: 100%;
                            padding: 10px 20px;
                            border: 0;
                        }
                        &:hover {
                            border-bottom: 2px solid #e4e6eb;
                        }
                    }
                }
            }
        }
    }
}

/*Responsive*/

@media (max-width: 768px) {
    .cart-modal {
        .modal {
            .modal-dialog {
                .modal-content {
                    padding: 0rem;
                    .modal-body {
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}